/* card reply replies */

.reply{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardreply{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: 150px;
}

.cardreply img{
    width: 40px;
    height: 40px;
}

.cardreply button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: hsl(238, 40%, 52%);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.cardreply textarea{
    display: flex;
    resize: none;
    justify-content: center;
    border-radius: 10px;
    width: 350px;
    padding: 10px 20px 0 20px;
}
.line{
    border: 0.5px solid hsl(223, 19%, 93%);
    margin-right: 80px;
}

.cardreply form{
    display: flex;
    gap: 10px;
}

/* when hover  */
.cardreply button:hover{
    opacity: 0.5;
}

@media screen and (max-width: 720px)  {


    .cardreply{
        width: 300px;
        height: 150px;
        gap: 10px;
    }
    .cardreply img{
        width: 30px;
        height: 30px;
    }

    .cardreply button{
        width: 50px;
        height: 25px;
        border-radius: 5px;
        font-size: 12px;
    }
    .cardreply textarea{
        width: 150px;
    }
    .line{
        margin-right: 25px;
    }
    
}