/* card reply comments */
.reply{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;  
}

.cardreply{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    width: 730px;
    height: 145px;
    padding: 30px;
}
.cardreply img{
    width: 40px;
    height: 40px;

}

.cardreply button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: hsl(238, 40%, 52%);
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}
.cardreply textarea{
    display: flex;
    resize: none;
    border-radius: 10px;
    width: 500px;
    padding: 10px 20px 0 20px;
    color: hsl(212, 24%, 26%);
    font-size: 14px;
    cursor: pointer;
}
.cardreply form{
    display: flex;
    gap: 10px;
}


/* when hover  */
.cardreply button:hover{
    opacity: 0.5;
}

@media screen and (max-width: 375px){

   
    .cardreply{
        width: 350px;
        height: 145px;
        gap: 10px;
    }
 
    .cardreply button{
        width: 70px;
        height: 25px;
        border-radius: 5px;
        font-size: 12px;
    }
    .cardreply textarea{
        width: 180px;
        padding: 10px 20px 0 20px;
        font-size: 11px;
    }
 
    
}